# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
_tmp

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.txt
*.prof
gin-bin

bin
build
vendor

.terraform
*.tfstate
docker-compose.immutable.yml
terraform.tfstate.backup

.scannerwork/
.idea
.vscode
dist
