name: "Testing"

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Run golangci linter
        uses: golangci/golangci-lint-action@v1
        with:
          version: v1.30

      - name: Lint GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          args: --skip-publish --snapshot
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Fetch history for helm linter
        run: git fetch --prune --unshallow

      - name: Lint Helm
        uses: helm/chart-testing-action@v1.0.0
        with:
          image: quay.io/helmpack/chart-testing:v2.4.1
          command: lint
          config: .github/ct.yaml

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master

      - name: Run Swagger Test
        uses: mbowman100/swagger-validator-action@master
        with:
          files: |
            openapi.json

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Run Unit tests
        run: |
          make test-unit

      - name: Setup Golang
        uses: actions/setup-go@v2
        with:
          go-version: '^1.15'

      - name: Setup Kind
        uses: engineerd/setup-kind@v0.4.0

      - name: Install Kangal CRD
        run: |
          make apply-crd

      - name: Build Kangal
        run: |
          go mod vendor
          make build

      - name: Run Integration Tests
        env:
          AWS_ENDPOINT_URL: "localhost:8081"
          AWS_BUCKET_NAME: "kangal-test"
        run: |
          ./ci/integration-tests.sh

      - name: Upload codecov
        uses: codecov/codecov-action@v1
        if: success()
        with:
          file: ./coverage.txt
          fail_ci_if_error: false
